on:
  push:
    branches:
      - feature/ci
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set nodejs
        uses: actions/setup-node@v1
        with:
          node-version: '20.x'
